[submodule "PLC_solution"]
	path = PLC_solution
	url = https://bitbucket.org/europeanspallationsource/tc_generic_structure.git
	branch = MBP-113-addOPC_attributes
[submodule "util_scripts/twinCATAutomationTools"]
	path = util_scripts/twinCATAutomationTools
	url = https://github.com/Simon-Cooper/twinCATAutomationTools.git
